// out: ./style.css, compress: true, sourceMap: false
// relativeUrls: true

@import "./vars.less";
@import "blocks/helpers.less";

html {
    font-size: 15px;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: @black;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Block */
@import "blocks/container.less";
/* Header */
@import "blocks/header.less";
/* User */
@import "blocks/user.less";
/* Nav */
@import "blocks/nav.less";
/* Intro */
@import "blocks/intro.less";
/* Social */
@import "blocks/social.less";
/* Button */
@import "blocks/btn.less";
/* Works */
@import "blocks/works.less";
/* Portfolio */
@import "blocks/portfolio.less";