// main: ../../style.less

.nav {
    display: flex;
    height: 100%;
    align-items: center;

    @media @mobile {
        display: none;
        width: 100%;
        height: auto;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 2;
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    }
}

.nav__link {
    margin-left: 2rem;
    font-size: 0.93rem;
    position: relative;
    color: @black;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    /* 
    &::after {
        content: "";
        width: 0;
        height: 2px;
        background-color: @black;

        position: absolute;
        bottom: -.2rem;
        left: 0;
        z-index: 1;
        transition: all .2s linear;
    } */

    &:hover {

        &::after {
            width: 100%;
        }
    }

    /* Modificators */
    &--btn {
        padding: .66rem 2rem;
        border: 2px solid @black;
        border-radius: 20px;
        transition: all .2s linear;

        &:hover {
            background-color: @black;
            color: @white;
        }
    }
}

.nav__link-mobile {
    @media @mobile {
        display: block;
        margin-bottom: 1rem;
        color: @black;
        font-size: .8rem;
        margin-left: .5rem;
        text-align: center;
    }
}