// main: ../../style.less

.contact {
    display: flex;
    background: url(https://placehold.it/470x700) right no-repeat;

    @media @tablet {
        background-size: 350px auto;
    }

    @media @mobile {
        background: none;
    }

}

.contact__info {
    width: 47%;
    padding: 2rem;


    i {
        margin-right: .75rem;
        font-size: 1.1rem;
    }

    @media @mobile {
        width: 100%;
    }
}

.contact__phone,
.contact__email {
    margin-bottom: .75rem;
    font-size: 0.94rem;
    color: @black;
    font-weight: 300;
}